# Byte-compiled / optimized / DLL files
__pycache__/
*egg-info
docs/build/
docs/source/vignettes/*.html
tests/docstrings_examples/
tests/getting_started/
tests/readme_examples/
tests/untestable_getting_started.py
.ipynb_checkpoints/
tests/TestPln.pdf
tests/TestZIPln.pdf
tests/ZIPln.pdf
tests/.coverage
*.pdf
