
stages:
  - checks
  - build
  - publish


black:
  stage: checks
  image: registry.gitlab.com/pipeline-components/black:latest
  script:
    - echo "version"
    - echo black --version
    - black --check --verbose -- .
  tags:
    - docker

tests:
  stage: checks
  image: "registry.forgemia.inra.fr/bbatardiere/docker-image-pandas-torch-sphinx-jupyter"
  before_script:
    pip install '.[tests]'
  script:
    - pip install .
    - jupyter nbconvert Getting_started.ipynb --to python --output tests/test_getting_started
    - cd tests
    - python create_readme_getting_started_and_docstrings_tests.py
    - rm test_getting_started.py # remove as it has been modified in a directory.
    - pytest .
  only:
    - main
    - dev
    - tags


build_package:
  stage: build
  image: "registry.forgemia.inra.fr/bbatardiere/docker-image-pandas-torch-sphinx-jupyter"
  before_script:
    - pip install build
  script:
    - rm -rf dist/
    - python -m build
  artifacts:
    untracked: true
    expire_in: 1 week
  tags:
    - docker

publish_package:
  stage: publish
  image: "python:3.9"
  before_script:
    - pip install twine
  script:
    - TWINE_PASSWORD=${pypln_token} TWINE_USERNAME=__token__ python -m twine upload dist/*
  tags:
    - docker
  only:
    - tags

pages:
  stage: publish
  image: "registry.forgemia.inra.fr/bbatardiere/docker-image-pandas-torch-sphinx-jupyter"
  before_script:
    - pip install '.[build-doc]'
  script:
    - pip install .
    - make -C docs html
    - rm -rf public/
    - cp -r docs/build/html public
  artifacts:
    paths:
      - public
  tags:
    - docker
  only:
    - tags
