repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
  # - repo: local
  #   hooks:
  #     - id: pylint
  #       name: pylint
  #       entry: pylint
  #       language: system
  #       types: [python]
  #       args:
  #         [
  #           "-rn",
  #           "-sn",
  #           "--load-plugins=pylint.extensions.docparams",
  #           "--accept-no-yields-doc=no",
  #           "--accept-no-return-doc=no",
  #           "--accept-no-raise-doc=no",
  #           "--accept-no-param-doc=no",
  #         ]
